<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Учебни програми</title>
  <link rel="stylesheet" type="text/css" href="listPlans.css">
  <script src="listPlans.js"></script>
  <script src="../../modules/constants.js"></script>
</head>

<!-- TODO: limit colum width and show ... if content is too long -->

<body>
  <h1>Учебни програми</h1>
  <button id="create-plan-button">Създай учебна програма</button>
  <button id="to-dep-graph">Виж граф на зависимостите</button>
  <br></br>
  <table id="plans-table">
    <thead>
      <tr>
        <th class='plan-name'>Дисциплина</th>
        <th class='plan-owner'>Титуляр</th>
        <th class='actions-cell' colspan="4">Още</th>
      </tr>
    </thead>
    <tbody id="plans-list"></tbody>
  </table>
</body>

</html>
