body {
  font-size: 150%;
  margin: 0;
  padding: 15px;
}

button {
  font-size: 80%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


#plans-table {
  width: 100%;
  border-collapse: collapse;
}

#plans-table th,

#plans-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

#plans-table th {
  background-color: #f0f0f0;
}

.plan-name {
  max-width: 20vw;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.plan-owner {
  max-width: 20vw;
}
