<!DOCTYPE html>
<html>

<head>
  <title>Plans</title>
  <link rel="stylesheet" type="text/css" href="listPlans.css">
  <script src="listPlans.js"></script>
  <script src="../../modules/constants.js"></script>
</head>

<body>
  <h1>Course Plans</h1>
  <button id="create-plan-button">Create Plan</button>
  <br></br>
  <form id="upload-form">
    <input type="file" id="file-input" accept=".json">
    <button type="submit">Upload</button>
  </form>
  <br></br>
  <table id="plans-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="plans-list"></tbody>
  </table>
</body>

</html>
